target/
!.mvn/wrapper/maven-wrapper.jar
/target/
/logs/
/.settings/
/.mvn/
/.springBeans
/.classpath
/.project


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/localhost_simplewikidb_simple_english_hypoCountMap
/catGraphSer_localhost_simplewikidb_simple_english
/WikipediaInlinkCache_simple_english_null
