<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />

</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					href="#">
					CIMT </a>
				<ul class="nav">
					<li><a th:href="@{/kpextraction/rake}" href="rake.html"> RAKE </a></li>
					<li><a th:href="@{/kpextraction/jate}" href="jate.html"> JATE </a></li>
					<li><a th:href="@{/kpextraction/graph/tr}" href="tr.html"> TR </a></li>
					<li><a th:href="@{/kpextraction/graph/trwordnet}" href="trwordnet.html"> TR + Wordnet </a></li>
					<li><a th:href="@{/kpextraction/graph/topicrank}" href="tr.html"> Topic Rank</a></li>
					<li><a th:href="@{/kpextraction/topic/keycluster}" href="keycluster.html"> KeyCluster </a></li>
					<li><a th:href="@{/kpextraction/topic/tpr}" href="tpr.html"> Topical PageRank </a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
</body>
</html>
